
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# macOS
.DS_Store

# Logs
*.log

// reports
allure-results
allure-report

// Screenshot
displayed-text.png
hide-textbox.png

state.json